$body-tertiary-bg-dark: #6e4f9d;
$body-tertiary-bg: #6e4f9d;
$body-bg-dark: #1b1a28;
$body-bg: #eef0f2;
$body-secondary-bg-dark: #232233;
$body-secondary-bg: #fff;
// $body-bg: #6e4f9d;
// $body--dark: #6e4f9d;
$card-cap-bg: rgba($color: $body-tertiary-bg, $alpha: 1);
$link-decoration: none;
$link-hover-color: $body-tertiary-bg !default;
$link-hover-color-dark: $body-tertiary-bg !default;

.col-md-1-5 {
    flex: 0 0 auto;
    max-width: 14.25% !important;
}

.navbar .nav-link {
    color: rgba($color: #fff, $alpha: 0.65);
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";